
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
  font-family: 'Lato', sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    background-color: rgb(244, 166, 65);
    color: #fff;
    padding: 10px;
}
.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer {
    margin-top: 20px;
    color: #555;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(244, 166, 65);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px; 
    height: auto;
    display: block;
    margin: 0 auto;
}